html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1485988412941-77a35537dae4?q=80&w=1496&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    min-height: 100vh;
}

.tambah {
    min-width: 500px;
    background-color: rgba(255, 255, 255, 1);;
    margin: 0 auto;
    border-radius: 5%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    text-align: left; /* Menjadikan elemen form di kiri */
    padding-left: 70px;
    padding-right: 70px;
}

p {
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    display: block; /* Mengubah button menjadi elemen block */
    margin: 0 auto; /* Menengahkan button di dalam elemen block */
}

/* Tambahan: Atur style tombol saat dihover */
button:hover {
    background-color: #45a049;
}
