html {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;

}
.container { /* Sesuaikan lebar container sesuai kebutuhan */
  margin: 0; /* Pusatkan container di tengah halaman */
  padding: 20px; /* Atur padding untuk memberikan ruang di sekitar kontennya */
  background-color: #f5f5f5; /* Atur warna latar belakang container */
  border: 1px solid #ddd; /* Atur border untuk memberikan garis pembatas */
  border-radius: 5px; /* Atur border radius untuk sudut yang lebih lembut */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Tambahkan efek bayangan untuk memberikan dimensi */
}

.desc {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .desc {
    display: inline;
    align-items: flex-start; /* Atur agar elemen rata kiri */
    margin-top: 30px; /* Sesuaikan margin jika diperlukan */
  }
}

.image {
  flex: 1;
  max-width: 661px;
  width: 100%;
  max-height: 431px;
  height: 100%;
  margin: auto;
}

.img-btn1 {
  width: 40px; /* Sesuaikan dengan lebar yang diinginkan */
  height: 40px; /* Sesuaikan dengan tinggi yang diinginkan */
  cursor: pointer;
}

/* Atur margin untuk memberikan sedikit ruang di sekitar gambar */
.img-btn1 img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.penjelasan {
  flex: 1;
  margin: 20px;
}

.section-title {
  font-size: 24px; /* Atur ukuran font sesuai kebutuhan */
  font-weight: bold; /* Atur ketebalan font sesuai kebutuhan */
  margin-bottom: 10px; /* Atur margin bawah untuk memberikan ruang antara judul dan paragraf */
  font-family: var(--heading-headline-2-font-family);
  font-weight: var(--heading-headline-2-font-weight);
  color: var(--neutraldgrey);
  font-size: var(--heading-headline-2-font-size);
  text-align: center;
  letter-spacing: var(--heading-headline-2-letter-spacing);
  line-height: var(--heading-headline-2-line-height);
  font-style: var(--heading-headline-2-font-style);
}

h3 {
  color: #45a049;
}

.description,
.text-wrapper,
.div {
  margin-right: 20px;
  margin-bottom: 10px; /* Atur margin bawah untuk memberikan ruang antara paragraf */
  font-family: var(--body-regular-body-2-font-family);
  font-weight: var(--body-regular-body-2-font-weight);
  color: var(--neutralgrey);
  font-size: var(--body-regular-body-2-font-size);
  letter-spacing: var(--body-regular-body-2-letter-spacing);
  line-height: var(--body-regular-body-2-line-height);
  font-style: var(--body-regular-body-2-font-style);
}

.btn {
  display: flex;
  justify-content: space-between;
}

.img-btn img {
  width: auto; /* Sesuaikan dengan lebar yang diinginkan */
  height: 40px; /* Sesuaikan dengan tinggi yang diinginkan */
  overflow: hidden; /* Agar gambar tetap dalam batas container */
  margin-right: 10px; /* Atur margin untuk memberikan ruang di sekitar gambar */
}

.button-primary {
  display: inline-block;
  background-color: #4caf50; /* Ganti warna tombol sesuai kebutuhan */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Atur ukuran font tombol sesuai kebutuhan */
  cursor: pointer;
  border-radius: 4px; /* Atur border-radius sesuai kebutuhan */
}

.done {
  font-weight: bold;
}


/* Tambahan: Atur style tombol saat dihover */
.button-primary:hover {
  background-color: #45a049; /* Ganti warna tombol saat dihover sesuai kebutuhan */
}
/* CSS untuk modal */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal h3 {
  text-align: center;
}

.modal button {
  margin-top: 10px; 
  background-color: var(--brandprimary);
  border-radius: 4px;
  cursor: pointer;
  color: white;
}


:root {
  --neutraldgrey: rgba(77, 77, 77, 1);
  --neutralgrey: rgba(113, 113, 113, 1);
  --neutralwhite: rgba(255, 255, 255, 1);
  --brandprimary: rgba(76, 175, 79, 1);
  --heading-headline-2-font-family: "Inter-SemiBold", Helvetica;
  --heading-headline-2-font-weight: 600;
  --heading-headline-2-font-size: 36px;
  --heading-headline-2-letter-spacing: 0px;
  --heading-headline-2-line-height: 44px;
  --heading-headline-2-font-style: normal;
  --body-regular-body-2-font-family: "Inter-Regular", Helvetica;
  --body-regular-body-2-font-weight: 400;
  --body-regular-body-2-font-size: 16px;
  --body-regular-body-2-letter-spacing: 0px;
  --body-regular-body-2-line-height: 24px;
  --body-regular-body-2-font-style: normal;
  --button-link-normal-font-family: "Inter-Regular", Helvetica;
  --button-link-normal-font-weight: 400;
  --button-link-normal-font-size: 18px;
  --button-link-normal-letter-spacing: 0px;
  --button-link-normal-line-height: 24px;
  --button-link-normal-font-style: normal;
}
