body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    max-width: 1200px;
    margin: 0;
    overflow-x: hidden;
}

header {
    max-width: 100vw;
    width: 110%;
    background-color: #263238;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper .container {
    max-width: 1200px;
    margin: 0 auto; /* Center the container */
    margin-right: 10px;
}

.logo {
    width: 150px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}
