/* public/css/styles.css */

/* Contoh CSS sederhana untuk menata elemen */

html {
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    overflow-x: hidden;

}

h1 {
    color: #333;
}

.container {
    margin: 5%; /* Menengahkan container di tengah halaman */
    padding: 0 40px;
    overflow: hidden; /* Memastikan container menampung floated elements */
}

.hero-section {
    display: flex;
    width: 100%;
    height: 50vw;
    align-items: center;
    gap: 104px;
    padding: 96px 30px;
    position: relative;
    background-color: var(--neutralsilver);
    margin-bottom: 40px;
}

.hero-section .container {
    max-width: 1200px;
    width: 100%;
    margin: 0; /* Center the container */
}

.hero-section .frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.hero-section .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.hero-section .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #4d4d4d;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.hero-section .lorem-ipsum-lorem {
    position: relative;
    align-self: stretch;
    font-family: var(--heading-headline-1-font-family);
    font-weight: var(--heading-headline-1-font-weight);
    color: transparent;
    font-size: var(--heading-headline-1-font-size);
    letter-spacing: var(--heading-headline-1-letter-spacing);
    line-height: var(--heading-headline-1-line-height);
    font-style: var(--heading-headline-1-font-style);
}

.hero-section .span {
    color: #4d4d4d;
    font-family: var(--heading-headline-1-font-family);
    font-style: var(--heading-headline-1-font-style);
    font-weight: var(--heading-headline-1-font-weight);
    letter-spacing: var(--heading-headline-1-letter-spacing);
    line-height: var(--heading-headline-1-line-height);
    font-size: var(--heading-headline-1-font-size);
}

.hero-section .text-wrapper-2 {
    color: #4caf4f;
    font-family: var(--heading-headline-1-font-family);
    font-style: var(--heading-headline-1-font-style);
    font-weight: var(--heading-headline-1-font-weight);
    letter-spacing: var(--heading-headline-1-letter-spacing);
    line-height: var(--heading-headline-1-line-height);
    font-size: var(--heading-headline-1-font-size);
}

.hero-section .div {
    position: relative;
    align-self: stretch;
    font-family: var(--body-regular-body-2-font-family);
    font-weight: var(--body-regular-body-2-font-weight);
    color: var(--neutralgrey);
    font-size: var(--body-regular-body-2-font-size);
    letter-spacing: var(--body-regular-body-2-letter-spacing);
    line-height: var(--body-regular-body-2-line-height);
    font-style: var(--body-regular-body-2-font-style);
}

.hero-section .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 32px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--brandprimary);
    border-radius: 4px;
    all: unset;
    box-sizing: border-box;
    display: inline-block;
    background-color: #4caf50; /* Ganti warna tombol sesuai kebutuhan */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; /* Atur ukuran font tombol sesuai kebutuhan */
    cursor: pointer;
    border-radius: 4px;
}

.hero-section .label {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-medium-body-2-font-family);
    font-weight: var(--body-medium-body-2-font-weight);
    color: var(--neutralwhite);
    font-size: var(--body-medium-body-2-font-size);
    text-align: center;
    letter-spacing: var(--body-medium-body-2-letter-spacing);
    line-height: var(--body-medium-body-2-line-height);
    white-space: nowrap;
    font-style: var(--body-medium-body-2-font-style);
}

.hero-section .illustration {
    position: relative;
    width: 300px;
    height: 350px;
}

.text2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: var(--body-medium-body-2-font-family);
    font-weight: var(--body-medium-body-2-font-weight);
}

.info {
    margin-bottom: 20px;
    font-family: var(--body-medium-body-2-font-family);
    font-weight: var(--body-medium-body-2-font-weight);
}

.div-info {
    font-family: var(--body-medium-body-2-font-family);
    font-weight: var(--body-medium-body-2-font-weight);
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.frame {
    display: flex;
    align-items: center;
    max-width: 1200px;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.frame .element {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    margin-top: 40px;
    padding: none;
}

.frame .image {
    position: relative;
    width: 320px;
    height: 220px;
    object-fit: cover;
}

.frame .content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 16px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -90px;
    background-color: var(--neutralsilver);
    border-radius: 8px;
    box-shadow: var(--shadow-8px);
    max-width: 280px;
    width: 100%;
}

.frame .text-wrapper {
    position: relative;
    width: 260px;
    margin-top: -1px;
    font-family: var(--heading-headline-4-font-family);
    font-weight: var(--heading-headline-4-font-weight);
    color: var(--neutralgrey);
    font-size: var(--heading-headline-4-font-size);
    text-align: center;
    letter-spacing: var(--heading-headline-4-letter-spacing);
    line-height: var(--heading-headline-4-line-height);
    font-style: var(--heading-headline-4-font-style);
}

.frame .div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-headline-4-font-family);
    font-weight: var(--heading-headline-4-font-weight);
    color: var(--brandprimary);
    font-size: 18px;
    letter-spacing: var(--heading-headline-4-letter-spacing);
    line-height: var(--heading-headline-4-line-height);
    white-space: nowrap;
    font-style: var(--heading-headline-4-font-style);
}

.frame .element-arrows-directions {
    position: relative;
    width: 24px;
    height: 24px;
}

.frame .img {
    position: relative;
    width: 350px;
    height: 250px;
}
/* public/css/index.css */

.buttonAdd {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Sesuaikan margin atas sesuai kebutuhan */
    margin: 0 auto; /* Center the container */
}

.buttonAdd button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 16px;
    background-color: #4caf50; /* Ganti warna tombol sesuai kebutuhan */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px; /* Atur ukuran font tombol sesuai kebutuhan */
    cursor: pointer;
    border-radius: 4px;
}

.buttonAdd .label {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-medium-body-2-font-family);
    font-weight: var(--body-medium-body-2-font-weight);
    color: var(--neutralwhite);
    font-size: var(--body-medium-body-2-font-size);
    white-space: nowrap;
    font-style: var(--body-medium-body-2-font-style);
}

.buttonAdd a {
    color: white; /* Mengatur warna teks menjadi putih */
    text-decoration: none; /* Menghilangkan garis bawah */
    transition: color 0.3s ease; /* Efek transisi warna saat dihover */
}

.buttonAdd a:hover {
    color: white; /* Warna saat dihover tetap putih */
    text-decoration: none; /* Tetap tidak ada garis bawah saat dihover */
}

:root {
    --neutralgrey: rgba(113, 113, 113, 1);
    --brandprimary: rgba(76, 175, 79, 1);
    --neutralsilver: rgba(245, 247, 250, 1);
    --heading-headline-4-font-family: "Inter-SemiBold", Helvetica;
    --heading-headline-4-font-weight: 600;
    --heading-headline-4-font-size: 20px;
    --heading-headline-4-letter-spacing: 0px;
    --heading-headline-4-line-height: 28px;
    --heading-headline-4-font-style: normal;
    --shadow-8px: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
}
