.navbar-clr {
    background-color: #253c3b;

}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

.logo{
  width: 200px;
  height: auto;
  padding-left: 0px;
  padding-top: 0px;
}

.inuse {
    background-color: #151c1f;
    border-radius:15px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.profile {
  height: 50px;
}

.profile-pic::hover {
  filter: brightness(70%);
}

.footer-bg {

    background-color: #263238;
    color:white;
}

footer {
    background-color: #263238;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    }
    
    
    footer p {
    display: inline;
    margin: 0 10px;
    }


    /* Offcanvas Design */


    .profile-info {
        padding: 20px;
    }

    .profile-info img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 15px;
    }

    .profile-info h5 {
        margin-bottom: 8px;
        font-size: 1.2rem;
    }

    .profile-info p {
        margin-bottom: 5px;
        color: #666;
    }

    .off-profile {
        height: 200px;
        justify-self: center;
        margin-bottom: 1em;
    }
    
    .offcanvas-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #profileSidebar {
        background-color: #4CAF4F;
    }

    .offcanvas-backdrop {
        background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (last parameter) to control transparency */
    }
    

    /* Navbar customization */


    .nav-link:hover {
        color: #ccc !important; /* Change navbar links hover color */
    }