/* public/css/profile.css */

body {
    margin: 0;
    font-family: "Inter-Regular", Helvetica;
}

.container {
    width: 316px;
    height: 100vh;
    position: fixed;
    background-color: #4caf4f;
    border-radius: 4px;
    box-shadow: 6px 4px 14px 2.5px #00000040;
    overflow-y: auto;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.profile-info {
    text-align: center;
    margin-top: 20px;
}

.heading {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.nim, .user-name {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.sidebar {
    margin-top: 20px;
    padding: 10px;
}

.feature {
    color: #000000;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
}

/* Add your additional styling as needed */
