.text-size {
    max-width: 100%;
    width: 600px;
}


.foto-sertifikat {
  height: 18em;
}

.cont-foto {
  width: fit-content;
}

@media (max-width: 768px) {
  .sekat-ajah {
    display: none;
  }
}