html,
body {
  height: 100%;
}

.login {
  max-width: 330px;
  padding: 1rem;
}

.login .form-floating:focus-within {
  z-index: 2;
}

.login input[type="NIM"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.login input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login input {
  border-radius: 0;
  margin-bottom: -1px;
}